<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shuiwangzhijia.shuidian">

    <permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 银联需要的权限 -->
    <uses-permission android:name="android.permission.NFC" /> <!-- 腾讯定位 sdk 要求的权限  (开始) -->
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 访问手机当前状态, 需要device id用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 支持A-GPS辅助定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 腾讯定位 sdk 要求的权限 (结束) -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Demo中使用了腾讯地图 sdk, 腾讯地图 sdk 还要求的以下权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_SINTERNETWIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 手机定位信息，用来为语义等功能提供定位，提供更精准的服务 -->
    <!-- 非必须权限, 用于记录 log -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 非必须权限, 用于 notification 振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.shuiwangzhijia.shuidian.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.MyReturnMoneyNewActivity" />
        <!-- android:theme="@style/SplashThemeImage" -->
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.MsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.ShopManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.GoodsManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.CashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.ConsumerDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.CustomerManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.OrderManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.ShopCountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.AddressManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.EditAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.ShopSpreadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.ShopStudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.ConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.OrderPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.CountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.CustomerDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.PurchaseOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.PhotoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.TicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.DiscountTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.TicketPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.ShopMarketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.ShopTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.ShopCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.CreateCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.CreateTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.SelectGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.ShopInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.SelectImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.LocationInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.BucketManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.BucketRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.BucketOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.BucketRecordDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.BucketOrderPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.BucketListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.BucketStoreOweActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shuiwangzhijia.shuidian.ui.SelectWaterPlantActivity"
            android:screenOrientation="portrait" />
        <!-- 腾讯地图 -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="FUIBZ-NZV3X-6ZP4Z-T4RBO-BUXRF-XTB7W" />
        <!-- 第四方支付 -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:launchMode" />


        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

      <!--  <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.pingplusplus.ui.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.pingplusplus.ui.PaySuccessActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" /> -->
        <!-- 图片路径资源 版本问题 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.shuiwangzhijia.shuidian.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider> <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v4"
            tools:replace="android:process">
            <intent-filter android:priority="0x7fffffff">

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver> <!-- 信鸽推送 -->
        <receiver
            android:name="com.shuiwangzhijia.shuidian.xinge.MessageReceiver"
            android:exported="true">
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity> <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushServiceV4"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v4" /> <!-- 【必须】 提高service的存活率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>

                <!-- 【必须】 请修改为当前APP包名 .PUSH_ACTION, 如demo的包名为：com.qq.xgdemo -->
                <action android:name="com.fnd.waterstore.PUSH_ACTION" />
            </intent-filter>
        </service> <!-- 【必须】 【注意】authorities修改为 包名.AUTH_XGPUSH, 如demo的包名为：com.qq.xgdemo -->
        <provider
            android:name="com.tencent.android.tpush.XGPushProvider"
            android:authorities="com.shuiwangzhijia.shuidian.AUTH_XGPUSH"
            android:exported="true" /> <!-- 【必须】 【注意】authorities修改为 包名.TPUSH_PROVIDER, 如demo的包名为：com.qq.xgdemo -->
        <provider
            android:name="com.tencent.android.tpush.SettingsContentProvider"
            android:authorities="com.shuiwangzhijia.shuidian.TPUSH_PROVIDER"
            android:exported="false" /> <!-- 【必须】 【注意】authorities修改为 包名.TENCENT.MID.V3, 如demo的包名为：com.qq.xgdemo -->
        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.shuiwangzhijia.shuidian.TENCENT.MID.V3"
            android:exported="true" /> <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="${XG_ACCESS_ID}" /> <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="${XG_ACCESS_KEY}" />

        <receiver
            android:name="com.shuiwangzhijia.shuidian.ui.NetworkConnectChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.shuiwangzhijia.shuidian.ui.WaterShareActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.ui.DetermineBuyActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.ui.PurchaseDetailsActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.ui.OperationOrderActivityNew" />
        <activity android:name="com.shuiwangzhijia.shuidian.ui.CenterActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.ui.KeepListActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.ui.CommitOrderActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.ui.SelectCouponsActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.ui.SelectWaterActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.ui.MyCouActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.MyWalletActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.RechargeCenterActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.RechargeCouponPayActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.RechargeRecordActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.GoToBalanceActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.MyReturnMoneyActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.ReturnMoneyPolicyActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.ShopEarningsActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.BalanceRechargeActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.BalanceWalletActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.ReturnMoneyDetailsActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.ReturnMoneyRecordActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.FlashSaleActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.FlashSaleAddActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.MarketingToolsActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.FlashSaleAddGoodsActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.SmartEquipActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.EquipDetailsActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.EquipOrderDetailsActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.AddEquipGoodsActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.ApplyShopEarningsWithdrawActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.ShopEarningsWithdrawRecordActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.SpEarnWdRecordDetailsActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.WalletWithdrawActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.EquipMapActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.GoodsManageNewActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.RegularListActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.UserAgreementActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.DiscountsWaterCouponActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.HomePageActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.MyWalletNewActivity" />
        <activity android:name="com.shuiwangzhijia.shuidian.newmodule.activity.SettleAccountsActivity"></activity>
    </application>

</manifest>